[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"
flake8-pyproject = "*"
build = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
twine = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
